body {
	font-family: helvetica;
	margin: 0;
}

#logo {
	height: 250px;
}

h1 {
	font-weight: lighter;
	color: rgb(158, 96, 35)
	opacity: 0.6;
	font-family: sans-serif;
}


#container {
	display: flex;
	align-items: center;
	justify-content:  center;
	height: 100vh;
	flex-direction: column;
}